.add-job{
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
}

#input_job{
    width: 80%;
    height: 30px;
    outline: none;
    margin: 5px 0 10px;
    padding: 0 10px;
    outline: none;
  /* only border bottom */
    border: none;
    border-bottom: 1px solid #ccc;
   
}

button[type="submit"] {
    background-color: rgb(27, 168, 114);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    width: 80px;
    margin-bottom: 10px;
}


.list-job
{
    margin: 5px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
    display: flex;
    flex-direction: row;
    box-shadow: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

.action{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
}

span{
    font-size: 16px;
    font-weight:200;
    margin-right: 10px;
}

.done {
background-color: #92eeee;
border-radius: 5px;
border: none;
outline: none;
padding: 5px;
}

.delete {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: blue;
padding: 5px ;

}

h1{
    text-align: center;
    color: rgb(53, 47, 41);
    font-family: Arial, Helvetica, sans-serif;
}   