* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: #09090a;
    padding: 10px;
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header h1 {
    text-align: center;
}
.nav {
    text-align: center;
}
.nav ul {
    list-style: none;
}
.nav ul li {
    display: inline-block;
    margin: 0 10px;
}
.nav ul li a {
    text-decoration: none;
    color: white;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form h3 {
    text-align: center;
    margin-bottom: 20px;
}
.form form {
    display: flex;
    flex-direction: column;
}
.form form label {
    margin-bottom: 10px;
}
.form form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form form input[type="submit"] {
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

footer {
    margin-top: 10px;
    color: rgb(8, 3, 3);
}
