body {
    background-image: url("https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}
p {
    color: white;
    font-size: 30px;
    text-align: center;
}
button {
    background-color: rgb(189, 106, 106);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}
